.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #00ffff, #fff700, #ff8c00);
  background-size: 1000%; 
}

.App__Slider {
  position: absolute;
  top: 20px;
  min-width: 320px;
  max-width: 500px;
  
}

.App__Container {
  min-width: 320px;
  max-width: 500px;
  min-height: 100px;
  padding: 20px;
  background-color: #fff;
}